<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Jahnavi Etikoti - N01687105</h1>
    </header>
    <main id="content">
      {{{body}}}
    </main>
    <footer>
      <p>Contact: jahnavietikoti1999@gmail.com</p>
      <p>&copy; {{year}} My Express App</p>
    </footer>

  </body>
</html>